#navigator-toolbox toolbarbutton.bookmark-item:not(.subviewbutton)
{
	padding: 5px !important;
	font-size: 12px !important;
}

#PersonalToolbar:not([customizing]){
	margin-bottom: calc(2px - var(--uc-bm-height) - 2 * var(--uc-bm-padding));
	z-index: 1;
	background-color: #2A2A2AC0 !important;
}
#PlacesToolbarItems > .bookmark-item{ padding-block: var(--uc-bm-padding) !important; }